.ChatGPT {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: 270px;
  height: 100vh;
  width: calc(100% - 270px);
  background-color: var(--bs-gray-light);
}

.ChatGPT .title {
  padding: 10px;
}

.input-section {
  position: relative;
  padding: 10px;
  width: 60%;
}

.msgHistory {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  list-style-type: none;
  padding: 0 1rem 0 1rem;
  margin: 0;
  overflow-y: auto;
  overflow-anchor: auto;
  width: 100%;
  min-height: 650px;
  max-height: 750px;
}

.msgHistory li {
  padding: 2rem 10rem 2rem 10rem;
  list-style: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.msg-chatgpt {
  padding: 15px 20px 15px 70px;
  margin: 5px;
  background-color: var(--bs-success);
}

.msg-user {
  padding: 15px 20px 15px 70px;
  margin: 5px;
  align-self: flex-end;
  padding: 15px 70px 15px 20px;
  background-color: var(--bs-info);
}
