.ChatGPT {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	flex-grow: 1;
	line-height: 26px;
	font-size: 16px;
	background-color: var(--bs-gray-light);
}

.ChatGPT .title {
	padding: 10px;
	width: 100%;
	background-color: var(--bs-body-color);
	justify-content: center;
}

.ChatGPT .title h1 {
	text-align: center;
	color: white;
}
.ChatGPT .title h6 {
	text-align: center;
	color: white;
}

.input-section {
	padding: 10px;
	width: 60%;
	line-height: 26px;
	font-size: 16px;
}

.msgHistory {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	list-style-type: none;
	padding: 0 2rem 0 2rem;
	margin: 0;
	overflow-y: auto;
	overflow-anchor: auto;
	width: 100%;
	min-height: 650px;
	max-height: 750px;
}

.msgHistory li {
	padding: 1.5rem 2rem 0px 2rem;
	font-size: large;
	border-radius: 20px;
	color: #fff;
}

.msg-chatgpt .timeStamp {
	position: relative;
	bottom: calc(0% - 35px);
	text-align: left;
	color: #000000b7;
}

.msg-user .timeStamp {
	position: relative;
	bottom: calc(0% - 35px);
	text-align: end;
	color: #000000b7;
}

.msg-chatgpt {
	position: relative;
	margin: 5em;
	text-align: left;
	white-space: pre-line;
	background-color: #86bb71;
}

.msg-chatgpt:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #86bb71;
	border-right: 10px solid transparent;
	border-top: 10px solid #86bb71;
	border-bottom: 10px solid transparent;
	left: 19px;
	bottom: -19px;
}

.msg-user {
	position: relative;
	margin: 5px;
	align-self: flex-end;
	text-align: center;
	background-color: #94c2ed;
}

.msg-user:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid #94c2ed;
	border-top: 10px solid #94c2ed;
	border-bottom: 10px solid transparent;
	right: 19px;
	bottom: -19px;
}

.load-container {
	position: relative;
	float: right;
}

.load-msg {
	display: inline;
	position: relative;
	width: 125px;
	height: 30px;
}

.load-animation {
	display: inline-block;
	position: relative;
	width: 75px;
	height: 30px;
}
.load-animation div {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #bbb;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.load-animation div:nth-child(1) {
	left: 8px;
	animation: load-animation1 0.6s infinite;
}
.load-animation div:nth-child(2) {
	left: 8px;
	animation: load-animation2 0.6s infinite;
}
.load-animation div:nth-child(3) {
	left: 32px;
	animation: load-animation2 0.6s infinite;
}
.load-animation div:nth-child(4) {
	left: 56px;
	animation: load-animation3 0.6s infinite;
}

@keyframes load-animation1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes load-animation3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes load-animation2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
