.moderation {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	left: 270px;
	height: 100vh;
	width: calc(100% - 270px);
	line-height: 26px;
	font-size: 16px;
	font-weight: 400;
	background-color: var(--bs-gray-light);
	color: #fff;
}

.moderation .title {
	display: flex;
	padding: 10px;
	width: 100%;
	background-color: var(--bs-body-color);
	justify-content: center;
}

.moderation .title h1 {
	color: white;
}

.results-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-center;
	list-style-type: none;
	padding: 0 5rem 0 5rem;
	margin: 0;
	overflow-y: auto;
	overflow-anchor: auto;
	width: 90%;
	min-height: 650px;
	max-height: 750px;
}
.results-container li {
	padding: 1rem 1rem 0px 1rem;
	list-style: none;
	border-radius: 20px;
	margin-bottom: 80px;
	color: #fff;
}
.results-container li span {
	font-weight: 600;
}

.msg-result .timeStamp {
	position: relative;
	top: 20%;
	margin-left: 2px;
	color: #000000b7;
}

.msg-result {
	position: relative;
	margin: 5px;
	text-align: center;
	background-color: #86bb71;
}

.msg-result:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #86bb71;
	border-right: 10px solid transparent;
	border-top: 10px solid #86bb71;
	border-bottom: 10px solid transparent;
	left: 50%;
	bottom: -19px;
}

.load-container {
	position: relative;
	float: right;
}

.load-msg {
	display: inline;
	position: relative;
	width: 125px;
	height: 30px;
}

.load-animation {
	display: inline-block;
	position: relative;
	width: 75px;
	height: 30px;
}
.load-animation div {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #bbb;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.load-animation div:nth-child(1) {
	left: 8px;
	animation: load-animation1 0.6s infinite;
}
.load-animation div:nth-child(2) {
	left: 8px;
	animation: load-animation2 0.6s infinite;
}
.load-animation div:nth-child(3) {
	left: 32px;
	animation: load-animation2 0.6s infinite;
}
.load-animation div:nth-child(4) {
	left: 56px;
	animation: load-animation3 0.6s infinite;
}

@keyframes load-animation1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes load-animation3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes load-animation2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
